.b1 {
  background-color: red;
  border: 5px solid red;
}

.b2 {
  background-color: green;
  border: 5px solid green;
}

.b3 {
  background-color: blue;
  border: 5px solid blue;
}

.b4 {
  background-color: purple;
  border: 5px solid purple;
}
